{% if items and items|length > 1 %}
    <ul class="pull-right breadcrumb">
        {%- for link in items %}
            <li>
                {% if loop.first %}
                    <a href="{{ path("dashboard") }}" title="dashboard">{{ "Dashboard"|trans }}</a>
                {% elseif loop.last %}
                    {{ link.label|trans }}
                {% else %}
                    <a href="{{ link.uri }}">{{ link.label|trans }}</a>
                {% endif %}

                {% if not loop.last %}<span class="divider">/</span>{% endif %}
            </li>
        {%- endfor %}
    </ul>
{% endif %}