<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ 'config.layout'|config('LMS42') }}{% endblock %}</title>

    {{ bootstrap_js() }}
    {{ bootstrap_css() }}

    {% stylesheets
        '@SmirikAdminBundle/Resources/public/css/*'
        '@SmirikCoreBundle/Resources/public/css/plain/bootstrap-override.css'
        '@SmirikCoreBundle/Resources/public/css/plain/style.css'
        '@SmirikCoreBundle/Resources/public/css/plain/font-awesome/font-awesome.css'
        '@SmirikCoreBundle/Resources/public/css/master.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block body %}

    {% block navbar %}
        {% render controller('SmirikCoreBundle:Default:navigation') %}
    {% endblock %}

    {% block breadcrumbsContainer %}
    <div id="breadcrumbs" class="row breadcrumbs margin-bottom-20">
        <div class="container">
            <div id="breadcrumbs">
                <h1 class="pull-left title">
                    {% block header "" %}
                </h1>
                {% block breadcrumbs %}
                    {{ knp_menu_render('main_breadcrumbs', {template: "SmirikCoreBundle:Menu:knpBreadcrumbs.html.twig"}) }}
                {% endblock %}
            </div>
            <div class="clearfix"><!-- --></div>
            <hr>
        </div>
    </div>
    {% endblock %}

    {% block summary "" %}

    {% block container %}
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    {% block hero %}{% endblock %}
                    <div class="content">
                        {% block content_navigation %}{% endblock %}
                    </div>
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}

    <footer id="footer">
    		<div class="container">
    			<div class="row">
    				<div class="span4">
    					<a class="brand" href="http://lms42.com">
    						LMS42
    					</a>
    					<p>
    						{{ 'Open-source application'|trans }} <br>{{ 'for e-learning'|trans }}. <br>
    						{{ 'Contribution is welcome'|trans }}.

    					</p>
    				</div>
    				<div class="span4 social-networks">
    					<h3>{{ 'Find us elsewhere'|trans }}</h3>
    					<p>
                            {% if false %}
    						<a class="social-network twitter"></a>
    						<a class="social-network facebook"></a>
    						<a class="social-network linkedin"></a>
    						<a class="social-network dribbble"></a>
    						<a class="social-network pinterest"></a>
                            {% endif %}
        					<a class="social-network twitter" href="http://twitter.com/lms42ru"></a>
    						<a class="social-network gplus" href="https://plus.google.com/communities/115509331188973679018"></a>
    					</p>
    				</div>
    				<div class="span4 newsletter">
    					<h3>Исходный код</h3>
    					<p><a href="https://github.com/organizations/lms42">Github</a>, лицензия MIT</p>
    				</div>
    			</div> <!-- end .row -->
    		</div> <!-- end .container -->
    	</footer>

    <footer id="copyright">
    		<div class="container">
    			<div class="row">
    				<div class="span4">
    					&copy; 2010-{{ "now"|date("Y") }} by <a href="http://lms42.com">LMS42</a>
    				</div>
    				<div class="span4">
    				</div>
    				<div class="span4">
    					<a href="http://4xxi.com" rel="external" title="" target="_blank">MADE</a> BY <a title="LMS42" rel="external" href="http://4xxi.com" target="_blank">4XXI</a>

    				</div>
    			</div> <!-- end .row -->
    		</div> <!-- end .container -->
    	</footer>
    {% endblock %}

{% endblock %}

</body>
</html>
