<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ 'mainpage.header'|config('LMS42') }}{% endblock %}</title>

    {{ bootstrap_js() }}
    {{ bootstrap_css() }}

    {% stylesheets
    '@SmirikAdminBundle/Resources/public/css/*'
    '@SmirikContentBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>


    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11430636-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        {
            lang: 'ru'
        }
    </script>

    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
    <script type="text/javascript">
        VK.init({apiId:1969513, onlyWidgets:true});
    </script>

</head>
<body>

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="{{ path('homepage') }}">Главная</a>

                {% render "SmirikContentBundle:Content:navigation" %}

                <p class="navbar-text pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('admin_main') }}">Администрирование</a> |
                        {% endif %}
                        <a href="{{ path('fos_user_profile_show') }}">
                            {{ app.user.username }}</a> |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}

                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {% block left_without_well %}
                    <div class="sidebar-nav">
                        {% block left %}
                            {% include 'SmirikContentBundle:Default:_sidebar.html.twig' %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

            <div class="span9">

                <!-- Main hero unit for a primary marketing message or call to action -->
                {% block hero %}
                {% endblock %}

                <div class="content">
                    {% block content_navigation %}
                    {% endblock %}
                    {% block header %}
                    {% endblock %}
                    <hr>
                </div>
                <div class="content">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2010-{{ "now"|date("Y") }}</p>
    </footer>
{% endblock %}

</body>
</html>
