<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Информатика 2.0{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
        
        {% block stylesheets %}{% endblock %}

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
            
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        <style type="text/css">
              body {
                padding-top: 60px;
              }
        </style>  

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-11430636-3']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>    
          
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
          {lang: 'ru'}
        </script>
          
        <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>    
        <script type="text/javascript">
          VK.init({apiId: 1969513, onlyWidgets: true});
        </script>
    </head>
    <body>
      
      <div class="topbar">
        <div class="topbar-inner">
          <div class="container-fluid">
            <a class="brand" href="{{ path('homepage') }}">Главная</a>
            
            {% render "SmirikContentBundle:Content:navigation" %}
            
            <p class="pull-right"><a href="#">Lasciate ogni speranza voi ch'entrate</a></p>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        
        <div class="sidebar">
          {% block left %}
            <div class="well">
              {% render "SmirikContentBundle:Content:sidebar" %}
            </div>
          {% endblock %}
        </div>
        
        <div class="content">
          <!-- Main hero unit for a primary marketing message or call to action -->
          {% block hero %}
          {% endblock %}
          
          <div class="page-header">
            {% block header %}
            <h1>Обновления <small>проекта и материалов</small></h1>
            {% endblock %}
          </div>
          
          {% block body %}
          {% endblock %}

        </div>
      </div>

      <footer>
        <p>&copy; 2010-{{ "now"|date("Y") }}</p>
      </footer>
      
        {% block javascripts %}{% endblock %}
    </body>
</html>
