<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ 'mainpage.header'|config('LMS42') }}{% endblock %}</title>

    {{ bootstrap_js() }}
    {{ bootstrap_css() }}

    {% stylesheets
        '@SmirikAdminBundle/Resources/public/css/*'
        '@SmirikCoreBundle/Resources/public/unify/css/style.css'
        '@SmirikCoreBundle/Resources/public/unify/css/headers/header1.css'
        '@SmirikBootstrapBundle/Resources/public/css/bootstrap-responsive.min.css'
        '@SmirikCoreBundle/Resources/public/unify/css/style_responsive.css'

        '@SmirikCoreBundle/Resources/public/unify/css/themes/blue.css'
        '@SmirikCoreBundle/Resources/public/unify/css/themes/headers/header1-blue.css'

        '@SmirikCoreBundle/Resources/public/css/icons/style.css'
        '@SmirikCoreBundle/Resources/public/css/master.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!--
        // '@SmirikCoreBundle/Resources/public/unify/plugins/bootstrap/css/bootstrap.min.css'

        // Header theme (include this css after `unify/css/themes/default.css`)
        '@SmirikCoreBundle/Resources/public/unify/css/themes/headers/default.css'

        // Maybe to need the id attributes
        <link rel="stylesheet" href="assets/css/themes/default.css" id="style_color">
        <link rel="stylesheet" href="assets/css/themes/headers/default.css" id="style_color-header-1">
    -->

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11430636-3']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        { lang: 'ru' }
    </script>

    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
    <script type="text/javascript">
        VK.init({apiId:1969513, onlyWidgets:true});
    </script>

</head>
<body>

{% block body %}

    {% block navbar %}
        {% include "SmirikCoreBundle:Default:navbar.html.twig" %}
    {% endblock %}

    {% block breadcrumbs %}
        <div class="row-fluid breadcrumbs margin-bottom-20">
            <div class="container">
                <h1 class="pull-left">
                    {% block header "" %}
                </h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('homepage') }}">{{ 'Home'|trans }}</a> <span class="divider">/</span></li>
                    <li><a href="">Features</a> <span class="divider">/</span></li>
                    <li class="active">Navigation</li>
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block summary "" %}

    {% block container %}
        <div class="container">
            <div class="row-fluid">

                <div class="span3">
                    <div class="sidebar-nav">
                        {% block left %}
                            {% if is_granted('ROLE_USER') %}
                                {% include 'SmirikCoreBundle:Default/Sidebar:user.html.twig' %}
                            {% else %}
                                {% include 'SmirikCoreBundle:Default/Sidebar:guest.html.twig' %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>

                <div class="span9">
                    {% block hero %}{% endblock %}

                    <div class="content">
                        {% block content_navigation %}{% endblock %}

                        <hr>
                    </div>
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>

            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <footer>
            <p>&copy; 2010-{{ "now"|date("Y") }}</p>
        </footer>
    {% endblock %}

{% endblock %}

</body>
</html>
