<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ 'mainpage.header'|config('LMS42') }}{% endblock %}</title>

    {{ bootstrap_js() }}
    {{ bootstrap_css() }}

    {% stylesheets
        '@SmirikAdminBundle/Resources/public/css/*'
        '@SmirikCoreBundle/Resources/public/css/master.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block body %}

    {% block navbar %}
        {% render controller('SmirikCoreBundle:Default:navigation') %}
    {% endblock %}

    
    {% block breadcrumbsContainer %}
    <div class="row breadcrumbs margin-bottom-20">
        <div class="container">
            <div>
                <h1 class="pull-left">
                    {% block header "" %}
                </h1>
                {% block breadcrumbs %}
                    {{ knp_menu_render('main_breadcrumbs', {template: "SmirikCoreBundle:Menu:knpBreadcrumbs.html.twig"}) }}
                {% endblock %}
            </div>
            <div class="clearfix"><!-- --></div>
            <hr>
        </div>
    </div>
    {% endblock %}

    {% block summary "" %}

    {% block container %}
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    {% block hero %}{% endblock %}
                    <div class="content">
                        {% block content_navigation %}{% endblock %}
                    </div>
                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <footer>
            <p>&copy; 2010-{{ "now"|date("Y") }}</p>
        </footer>
    {% endblock %}

{% endblock %}

</body>
</html>
