<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ 'mainpage.header'|config('LMS42') }}{% endblock %}</title>

    {{ bootstrap_js() }}
    {{ bootstrap_css() }}

    {% stylesheets
        '@SmirikAdminBundle/Resources/public/css/*'
        '@SmirikCoreBundle/Resources/public/css/admin.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

{% block navbar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="{{ path('homepage') }}">Главная</a>

                {{ render(controller('SmirikContentBundle:Content:navigation', { 'some_var': 123 })) }}
                {% render controller('SmirikContentBundle:Content:navigation', { 'some_var': 123 }) %}
                {#% render "SmirikContentBundle:Content:navigation" %#}

                <p class="navbar-text pull-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('admin_main') }}">Администрирование</a> |
                        {% endif %}
                        <a href="{{ path('fos_user_profile_show') }}">
                            {{ app.user.username }}</a> |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}

                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                {% block left_without_well %}
                    <div class="sidebar-nav">
                        {% block left %}
                            {% include 'SmirikContentBundle:Default:_sidebar.html.twig' %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

            <div class="span9">

                <!-- Main hero unit for a primary marketing message or call to action -->
                {% block hero %}
                {% endblock %}

                <div class="content">
                    {% block content_navigation %}
                    {% endblock %}
                    {% block header %}
                    {% endblock %}
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2010-{{ "now"|date("Y") }}</p>
    </footer>
{% endblock %}

</body>
</html>
