{% set courses    = courses_to_study() %}
{% set my_courses = my_courses_list() %}
{% set route      = app.request.get('_route') %}

<ul class="nav nav-list well">

    <li class="nav-header">{{ 'My courses'|trans }}</li>
    {% if my_courses|length %}
        {% if route == 'course_show' %}
            {% set id = app.request.get('id') %}
        {% else %}
            {% set id = false %}
        {% endif %}
        {% for course in my_courses %}
            <li{% if id == course.id %} class="active"{% endif %}>
                <a href="{{ path('course_show', {'id': course.id }) }}">{{ course.title }}</a>
            </li>
        {% endfor %}
    {% else %}
        <li>{{ 'Your are not signed up on any course'|trans }}</li>
    {% endif %}
    <li class="divider"></li>


    <li class="nav-header">{{ 'All available courses'|trans }}</li>
    {% if courses|length %}
        {% if route == 'course_show' %}
            {% set id = app.request.get('id') %}
        {% else %}
            {% set id = false %}
        {% endif %}
        {% for course in courses %}
            <li{% if id == course.id %} class="active"{% endif %}>
                <a href="{{ path('course_show', {'id': course.id }) }}">{{ course.title }}</a>
            </li>
        {% endfor %}
    {% else %}
        <li>
            <small class="muted">{{ 'Your have signed up for all available courses'|trans }}</small>
        </li>
    {% endif %}
    <li class="divider"></li>
</ul>