<!-- Modal -->
<div id="signin_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
    
    <form class="log-page" action="{{ path("fos_user_security_check") }}" method="post" autocomplete="off">
        <h3>{{ 'Login to your account'|trans }}</h3>    
        <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span>
            <input class="input-xlarge" type="text" name="_username" placeholder="{{ 'Username'|trans }}">
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span>
            <input class="input-xlarge" type="password" name="_password" placeholder="{{ 'Password'|trans }}">
        </div>
        <div class="controls form-inline">
            <label class="checkbox"><input type="checkbox" value="_remember_me" /> {{ 'Stay Signed in'|trans }}</label>
            <input type="hidden" name="_csrf_token" value="{% render controller('SmirikCoreBundle:Default:csrf') %}"/>
            <button class="btn-u pull-right" type="submit">{{ 'Login'|trans }}</button>
        </div>
        <hr />
        {% if false %}
        <h4>Forget your Password ?</h4>
        <p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>
        {% endif %}
    </form>
</div>
