{% if false %}
{% if last_lessons|length %}
<div>
    {% for user_lesson in last_lessons %}
    <div class="well">
        {% set lesson = user_lesson.lesson %}
        <h5>{{ lesson.course.title }}</h5>

        <p>{{ lesson.title }} {% if user_lesson.isPassed and user_lesson.isClosed %}<span class="label label-inverse">{{ 'Closed'|trans }}</span>{% elseif user_lesson.isPassed %}<span class="label label-info">{{ 'Finished'|trans }}</span>{% else %}<span
                class="label label-important">{{ 'Started'|trans }}</span>{% endif %}</p>

        <p><a href="{{ path('lesson_index', {'id': lesson.id }) }}" class="btn btn-primary btn-small">{{ 'Go to lesson'|trans }}</a></p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endif %}
<div class="g-plusone"></div>
<script type="text/javascript">
    window.___gcfg = {lang:'ru'};

    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>
