<div id="slideshow_help" class="carousel slide" data-interval="false">
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('/bundles/smirikcontent/images/step0.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Вход</h4>
                <p>Для начала работы с сайтом необходимо войти. Для этого воспользуйтесь ссылкой сверху &laquo;Вход&raquo;. В появившемся окне введите свой логин и пароль.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step1.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Главная страница</h4>
                <p>Главная страница содержит несколько основных разделов:
                    <ol class="white">
                        <li>Быстрые ссылки на последние уроки.</li>
                        <li>Список курсов и статистика.</li>
                        <li>Быстрый доступ к проходимым курсам.</li>
                        <li>Выход из аккаунта.</li>
                    </ol>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step2a.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Мой кабинет</h4>
                <ol class="white">
                    <li>Список всех курсов.</li>
                    <li>Статистика по курсам и урокам.</li>
                    <li>Результаты пройденных тестов.</li>
                </ol>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step2b.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Мои курсы</h4>
                <p>Быстрый доступ ко всем проходимым курсам. В списке указаны только те курсы, на которые вы записаны.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step3a.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Список курсов</h4>
                <p>На данной странице указаны все видимые курсы. Курсы разделены на две группы: проходимые курсы (1) и доступные курсы, на которые вы ещё не записались, но можете это сделать или не сделать (2).</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step3b.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Выбор курса</h4>
                <p>Нажмите на название курса, чтобы получить доступ к описанию. Если вы хотите записаться на доступный курс, нажмите кнопку &laquo;Начать&raquo;.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step3c.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Страница курса</h4>
                <p>На странице курса указан список уроков с их статусами (пройдено, в процессе и пр.). Если вы ещё не записаны на этот курс, вам будет предложено это сделать (синяя кнопка &laquo;Записаться на курс&raquo;).</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step3d.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Запись на урок</h4>
                <p>После того, как вы записались на курс, необходимо начать урок. Это делается в два действия. Вначале необходимо нажать на кнопку &laquo;Начать урок&raquo;, расположенную на странице просмотра курса.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step4a.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Начать урок</h4>
                <p>После перехода на страницу нового урока нажмите на кнопку слева снизу &laquo;Начать урок&raquo;. Без нажатия этой кнопки многие функции будут недоступны. Обязательно нажимайте её.</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step4b.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Страница урока</h4>
                <p>Основные действия: возврат к курсу (1), презентация (2), полезные ссылки (3), FAQ (4), задать вопрос по уроку (5), тесты к уроку (6), задания, которые необходимо выполнить (7).</p>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('/bundles/smirikcontent/images/step4c.png')|apply_filter('carousel_help') }}" alt="">
            <div class="carousel-caption">
                <h4>Выполнение задание</h4>
                <p>Для завершения урока необходимо выполнить все задания. При выборе определённого задания загружается форма для ответа (1). Задание бывает в 4 стадиях: в работе, проверяется, принято, отклонено. Комментарии проверяющего размещены справа. Кнопка &laquo;Сохранить&raquo; сохраняет изменения, но не отправляет на проверку. Кнопка &laquo;Готово&raquo; отправляет задание на проверку (после этого нельзя уже поменять задание).</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#slideshow_help" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#slideshow_help" data-slide="next">›</a>
</div>